header {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto; /* PAINEL CENTRALIZADO */
    padding: 20px 40px;
    position: sticky;
    top: 20px; /* FLUTUA A PARTIR DE 20PX */
    backdrop-filter: blur(20px); /* EFEITO VIDRO */
    -webkit-backdrop-filter: blur(20px); /* SAFARI */
    background-color: rgba(0, 0, 0, 0.4); /* PRETO TRANSLÚCIDO (OFUSCA) */
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    z-index: 999;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-letraMenu);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-letraMenu);
    border-bottom: 3px solid var(--color-actionMenu);
}