#home {
    display: flex;
    min-height: calc(100vh - 25px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-tituloHome);
    text-align: left;
}

#cta .title span {
    color: var(--color-subtituloHome);
}

#cta .description {
    font-size: 1.1rem;
    color: var(--color-textoHome);
}

#cta .description span {
    color: var(--color-subtituloHome);
}

#banner {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    width: 65%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

#banner iframe {
    width: 100%;
    height: 500px;
    border: none;
    display: block;
    border-radius: 1%;
    margin-left: 5%;
    margin-top: 7%;
}

.shape {
    background-color: var(--color-fundoBanner);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}