@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {

    /* NAVBAR */
    --color-letraMenu: #E0E0E0; /* LETRA MENU INICIAL */
    --color-actionMenu: #CFF527; /* RISCO DO MENU ACTION SELECIONADO */

    /* FUNDO DA PÁGINA COMPLETO */
    --color-fundoPagina: #000000; /* FUNDO DA PÁGINA COMPLETA*/

    /* TÍTULO DO HOME */
    --color-tituloHome: #ffffff; /* BRANCO DO TÍTULO HOME */
    --color-subtituloHome: #7fff00; /* VERDE LIMÃO DO SUBTÍTULO HOME */
    --color-textoHome: #E0E0E0; /* TEXTO DA PÁGINA */
    --color-fundoBanner: #7fff00; /* VERDE LIMÃO DO BANNER */




    
    --color-primary-3: #f8d477;
    --color-primary-4: #ffe100;
    --color-primary-5: #ffcb45;
    --color-primary-6: #7fff00; /* LETRAS DE TÍTULOS */
    






    --color-neutral-1: #434343; /* TEXTO DA PÁGINA */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-fundoPagina);
}

section {
    padding: 28px 8%;
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    color: var(--color-neutral-1);
    font-size: 2.1875rem;
} 