#tradingsystem {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#calendario {
    width: 500px;
    height: auto;
}

#tradingsystem .section-subtitle {
    font-size: 3rem;
}

#tradingsystem_content {
    min-height: calc(100vh - 290px);
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: flex-start; /* EVITA DESALINHAMENTO */
    gap: 20px;
    background-color: var(--color-cinzaEscuro);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content {
    width: 100%; /* TEXTAREA OCUPA TODA ÁREA DISPONÍVEL */
}

.feedback-content textarea {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    background: transparent;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    color: inherit;
    padding: 0; /* ENCAIXA PERFEITAMENTE */
    margin-top: 5px;
    color: var(--color-branco);
}

.feedback-content p {
    color: var(--color-branco);
}

.feedback-content p span {
    color: var(--color-douradoMetalico);
}

.auto-textarea {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    background: transparent;
    font-size: 1rem;
}

@media screen and (max-width: 1170px) {
    #tradingsystem {
        flex-direction: column;
    }

    #tradingsystem .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #tradingsystem_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #tradingsystem .section-subtitle {
        font-size: 2rem;
    }

    #tradingsystem_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
} 