body {
    background: #0e0e0e;
    color: #e5e5e5;
    padding-top: 130px;
}
.header-custom {
    background: linear-gradient(to bottom, #111111, #000000);
    padding: 25px 0;
    border-bottom: 1px solid #2a2a2a;
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
}
.logo-img {
    height: 85px;
}
.card-custom {
    background: #1a1a1a !important;
    color: #dcdcdc !important;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(255,255,255,0.05);
}
.iframe-container iframe {
    width: 100%;
    height: 950px;
    border: none;
}
.link-aula {
    font-size: 18px;
    text-decoration: none;
}